<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://css.gg/css' rel='stylesheet'>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <meta name ="viewreport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="../static/about1 (2).css">
</head>	
<body>

    <nav class="navbar navbar-style">
        <div class="nav-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href=""><img class="logo1" src="../static/logo1.png" style="max-width: 40%;"></a>
          </div>
          <div class="collapse navbar-collapse" id="micon">
  
          </div>
          <ul class="nav navbar-nav">
            <li><a class="navbar-text" href="{{url_for('Home')}}">HOME</a></li>
            <li><a class="navbar-text" href="{{url_for('contact_us')}}">CONTACT</a></li>
            
            <li><a class="navbar-text" href="{{url_for('login')}}">LOGIN</a></li>
  
          </ul>
        </div>
        </div>
      </nav>


	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					
                    <p>"Our vision is to create a sustainable, affordable, and comfortable platform for inter-city travel".Our engineers and personnel have put in immense effort to ensure that our services are unparalled. One of the company's founding principle is "Be Customer Centric", thus allowing us to keep our goals aligned.</p>
					
				</div>
                
				
                
			</div>

			<div class="image-section">
				<img src="">
			</div>
            
               
                    <div class="content-section">
                        <div class="title">
                            <h1>History</h1>
                        </div>
                        <div class="content">
                            
                            <p>The company was founded by a team of five co-owners in the year 2022. What began as group project, has 
                                now become a registered rail company. The company began out with an initial selection of five major cities in Canada. The next 10-year plan is to increase this 
                                capacity to over 15 major cities, spread out in the country, whilst maintaining the level of services
                                being provided to our valued customers</p>
                            
                        </div>
                    </div>
                    <div class="content-section">
                        <div class="title">
                            <h1>Key Statistics</h1>
                        </div>
                        <div class="content">
                            
                            <p>Numerous communities served through our various projects and services. High revenue growth forecasted
                                for the year 2022. Numerous hiring opportunities have been created, with employee count in hundreds.
                                The Company plans to go green by 2025. This will allow us to inculcate sustainable practices and use 
                                greener technology for our trains to reduce CO2 emmissions</p>
                            
                        </div>
                        <div class="social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    
                
            </div>

        
        
            
		</div>
        
	</div>
    
    

	
</body>
</html>