<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/About-Styling.css">
    
</head>
<body>
    <header>
        <span id="covid">Covid-19</span> | For all travel related announcements, <a href="{{url_for('covid')}}" target="_self">click here!</a>
    </header>
    <article>
    <!--<p id="head"> Reimagining The Canadian Journey </p>-->

    <nav>
        <ul>
        <li><a href="{{url_for('Home')}}">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li id="login"><a href="#">Login</a></li>
        </ul>
        </nav>

        <div id="info">
            "Our vision is to create a sustainable, affordable, and comfortable platform for inter-city travel.
            Our engineers and personnel have put in immense effort to ensure that our services are unparalled.
            One of the company's founding principle is <span id="customer">"Be Customer Centric"</span>, thus allowing us to keep our goals
            aligned."
        </div>
        
    </article>
    <section>
        <div class="title">History</div>
        <div class="subinfo">
            The company was founded by a team of five co-owners in the year 2022. What began as group project, has 
            now become a registered rail company. The company began out with an initial selection of five major cities in Canada. The next 10-year plan is to increase this 
            capacity to over 15 major cities, spread out in the country, whilst maintaining the level of services
            being provided to our valued customers.
            <img src="../static/History.jpg" alt="Train construction">
        </div>
        <div class="title">Key Statistics</div>
        <div class="subinfo">
            Numerous communities served through our various projects and services. High revenue growth forecasted
            for the year 2022. Numerous hiring opportunities have been created, with employee count in hundreds.
            The Company plans to go green by 2025. This will allow us to inculcate sustainable practices and use 
            greener technology for our trains to reduce CO2 emmissions.
            <img src="../static/statistics.jpg" alt="statistics">
        </div>
    </section>

</body>
</html>
