<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/contact.css">
    <link href='https://css.gg/css' rel='stylesheet'>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <meta name ="viewreport" content="width=device-width,initial-scale=1.0">
    <title>Contact Us page</title>
    
    </head>
  
  <body>
    <header class="header">
      <nav class="navbar navbar-style">
        <div class="nav-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href=""><img class="logo1" src="../static/logo1.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="micon">
  
          </div>
          <ul class="nav navbar-nav">
            <li><a class="navbar-text" href="{{url_for('Home')}}">HOME</a></li>
            <li><a class="navbar-text" href="{{url_for('About')}}">ABOUT</a></li>
            
            <li><a class="navbar-text" href="{{url_for('login')}}">LOGIN</a></li>
  
          </ul>
        </div>
        </div>
      </nav>
  
    
  
      <section class="contact">
        <div class="content">
        <h2> We'd love to hear from you</h2>
        <p>We are here to help and answer any questions you might have regarding train timing , train schedule, train availibility, pricing or anything else. We look forward to hearing from you. </p>
      </div> 
      <div class ="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon"><i class="gg-home-alt"></i></div>
            <div class="text">
              <h3>Address</h3>
              <p>4675 Sugar Camp Road,<br>Montreal,Quebec,<br>H3H2N9</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="gg-phone" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Phone</h3>
              <p>514-001-009</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="gg-mail" aria-hidden="true"></i></i></div>
            <div class="text">
              <h3>Email</h3>
              <p>intercitytrainticketing@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="contactForm">
          <form>
            <h2>Send Message</h2>
            <div class="inputBox">
              <input type="text" name="" required="required">
              <span>Full Name</span>
            </div>
            <div class="inputBox">
              <input type="text" name="" required="required">
              <span>Email</span>
            </div>
            <div class="inputBox">
              <textarea required="required"></textarea>
              <span>Type your message...</span>
            </div>
            <div class="inputBox">
              <input type="submit" name="" value="Send">
            </div>
          </form>

        </div>
      </div>
      </section>
    </body>
</html>