<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Inter-city Train Ticketing System</title>
<link rel="stylesheet" href="../static/master.css">
</head>

<body>
<header>
<span id="covid">Covid-19</span> | For all travel related announcements, <a href="#" target="_self">click here!</a>
</header>

<nav>
<ul>
<li><a href="">Home</a></li>
<li><a href="{{url_for('About')}}">About</a></li>
<li><a href="#">Contact</a></li>
<li id="login"><a href="#">Login</a></li>
</ul>
</nav>

<form class="intro" action="{{url_for('trip')}}" method="POST">

<div id="moto">Move with us</div>

<section>
  <select class="form-select" name="origin" required>
  <option selected>Origin</option>
  <option value="Toronto">Toronto</option>
  <option value="Montreal">Montreal</option>
  <option value="Ottawa">Ottawa</option>
  <option value="Vancouver">Vancouver</option>
  <option value="Mississauga">Mississauga</option>
</select>
</section>
<br>
<section>
  <select class="form-select" name="destination" required>
  <option selected>Destination</option>
  <option value="Toronto">Toronto</option>
  <option value="Montreal">Montreal</option>
  <option value="Ottawa">Ottawa</option>
  <option value="Vancouver">Vancouver</option>
  <option value="Mississauga">Mississauga</option>
  </select>
</section>
<br>
<section>
<input type="date" class="form-select" name="date" placeholder="Date" required>
<br>
<br>
<input class="form-select" type="number" min=1 name="passengers" placeholder="Passengers" required>
<br>
<br>
<input id="format" type="submit" value="Submit">
</section>

</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>All Rights Reserved.</footer>
</body>
</html>
