<html>

<head>
  <title>Covid_19</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <header class="header">
    <nav class="navbar navbar-style">
      <div class="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href=""><img class="logo" src="../static/logo1.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="micon">

        </div>
        <ul class="nav navbar-nav">
          <li><a class="navbar-text" href="{{url_for('Home')}}">HOME</a></li>
          <li><a class="navbar-text" href="">CONTACT</a></li>
          <li><a class="navbar-text" href="{{url_for('login')}}">LOGIN</a></li>

        </ul>
      </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-m-8 col-lg-12">
          <h1 class="big-text">MOVE WITH US </h1>
          <p> -Covid 19; Preventive measures </p>
          <a href="#">
            <img src="../static/image.png" class="img-responsive" />
          </a>
          <div>
            <h1 class="headers"> THE SAFE WAY TO TRAVEL TOGETHER </h1>
            <p1 class="paragraph"> Helping you travel has always been at the heart of everything we do. And now that you’re ready to start
              moving again, we’ll continue to be there for you, keeping you moving in safe, smart, and thoughtful ways,
              because your peace of mind is on our minds.

              The health and safety of our passengers and employees is our top priority. That is why we have made
              changes to our services and implemented preventive health measures that we will continue to adapt to help
              curb the pandemic and meet your needs </p1>
          </div>
        </div>
      </div>
      <img src="../static/covid prvention.png" class="img-responsive" />
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-m-8 col-lg-12">
            
            <div>
              <h1 class="headers"> MANDATORY VACCINATION </h1>
              <p1 class="paragraph"> Following the Government of Canada’s requirements on mandatory vaccination and to further protect the health and safety of our employees, passengers and the communities we serve, VIA Rail is implementing a COVID-19 mandatory vaccination policy.

                Passengers over 12 years and 4 months are required to be fully vaccinated to travel on VIA Rail trains, as well as to access a VIA Rail Business lounge.
                
                To qualify as fully vaccinated, you need to have:
                
                 
                
                Received the full series of a vaccine or a combination of vaccines accepted by the Government of Canada; 
                Received your last dose at least 14 days prior to your train’s departure;
                And a proof of vaccination credential.
                The valid proof of vaccination needs to be in line with what is available in your province or country in a paper or digital format.
                
                The proof of vaccination must include:
                
                The name of the person who received the vaccine;
                The name of the government or the name of the non-governmental entity;
                The brand name or any other information that identifies the vaccine that was administered; and
                The dates on which the vaccine was administered or, if the evidence is one document issued for more than one dose and the document only specifies the date on which the most recent dose was administered.
                For passengers originating outside Canada, an ArriveCan receipt with immunization status denoted is accepted. </p1>
            </div>
          </div>
        </div>

    </div>
  </header>
</body>

</html>