<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>first_name</th>
      <th>last_name</th>
      <th>password</th>
      <th>email_id</th>
      <th>phone_number</th>
      <th>province</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Priyesh</td>
      <td>Bhalala</td>
      <td>pri123456</td>
      <td>p_bhalal@live.concordia.ca</td>
      <td>5145741247</td>
      <td>Montreal</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Harry</td>
      <td>J</td>
      <td>har123456</td>
      <td>har@gmail.com</td>
      <td>5468751235</td>
      <td>Ontario</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Roshan</td>
      <td>V</td>
      <td>12345678</td>
      <td>roshan@gmail.com</td>
      <td>5142542563</td>
      <td>Montreal</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Mary</td>
      <td>Joseph</td>
      <td>maryj</td>
      <td>mary@gmail.com</td>
      <td>5245785124</td>
      <td>New Brunswick</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>Henri</td>
      <td>Ford</td>
      <td>henri</td>
      <td>henri@gmail.com</td>
      <td>5142545645</td>
      <td>Quebec</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>Jay</td>
      <td>Dutt</td>
      <td>jay</td>
      <td>jay@gmail.com</td>
      <td>51452875695</td>
      <td>Quebec</td>
    </tr>
  </tbody>
</table>